* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 80px;
}
.basketLogo {
  width: 80px;
}
.navbar {
  width: 100%;
  padding: 1.2rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(49, 40, 40);
  box-shadow: 0 0 1.5rem 0 rgb(56, 39, 39);
}
.navbarLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.categoryBar {
  margin: auto;
  justify-content: space-around;
  max-width: 70rem;
  height: 5rem;
  padding: 1 rem;
  gap: 1rem;
  display: flex;
}
.categoryBar button {
  margin: auto;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.checkBox {
  margin: 0.5rem;
  width: 1rem;
  height: 1rem;
}
.container {
  margin: 5rem;

  padding-left: 15rem;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 1rem;
}
.Cards {
  width: 20rem;
  gap: 2rem;
  margin: 0.5rem;
  border-bottom: 1px solid grey;

  & img {
    width: 20rem;
    height: 25rem;
    margin: 1rem;
  }
  & .info {
    & .priceDiv {
      height: 3rem;
      display: flex;
      align-items: center;

      justify-content: space-between;
      margin-top: 1rem;
      margin-bottom: 2rem;

      & .title {
        width: 10rem;
      }
    }
    & .basketDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      & p {
        width: 10rem;
        margin-top: 2rem;
      }
    }
  }
  .basketAdd {
    width: 1rem;
    height: 1rem;
  }
}
h1 {
  margin-top: 5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;

  color: red;
  & span {
    color: blue;
  }
}
